.container {
    padding: 16px;
    margin: 0 auto;
}

.header {
    margin-bottom: 24px;
    font-size: 28px;
    font-weight: bold;
    color: #333;
	text-align: center;
}

.chartContainer {
    margin: 0 auto;
    max-width: 1200px;
}